<!DOCTYPE html>
<html>
  <head>
    <title>SMS Directions</title>
    <link rel="stylesheet" href="css/normalize.css" type="stylesheet">
    <link rel="stylesheet" href="css/application.css" type="stylesheet">
  </head>
  <body>
    <%= yield %>
    <script src="javascripts/application.js"></script>
  </body>
</html>
