<section id="lead-content">
  <div class="container">
      <div class="row">
        <div class="one-half column">
          <div class="tagline">
            <h1 class="logo-text">noGPS</h1>
            <h3>Get quick directions by text message.
                Save on data and get where you're going - faster.</h3>
            <ol class="steps">
              <li>Save the noGPS number, <strong>646-759-1018</strong></li>
              <li>Send a text message with the following format:
                  <pre id="example">from address #1 to address #2</pre></li>
              <li>Get back a response with directions!</li>
            </ol>
          </div>
        </div>
        <div class="one-half column">
          <img class="phone" src="img/phone-image.png">
        </div>
      </div>
  </div>
</section>
<section class="features">
  <div class="container">
      <div class="row">
        <div class="one-third column">
          <h3>Directions Anywhere</h3>
          <p>You don't need a smartphone and you don't need WiFi.
             As long as you can send and recieve SMS messages, noGPS can
             give you directions.</p>
        </div>
        <div class="one-third column">
          <h3>Free and Open-Source</h3>
          <p>The app is a small side project, which means that
             all of the code is available on <a href="#">Github</a>.
             If you're technically inclined, feel free to contribute
             features or fork your own version!</p>
        </div>
        <div class="one-third column">
          <h3>Still in Beta</h3>
          <p>This app hasn't been tested with a large number of users yet.
             If you experience any bugs, please let me know by opening an issue
             <a href="#">here</a>.</p>
        </div>
      </div>
  </div>
</section>
