<h1>SMS Directions</h1>


<h3>Enter the desired directions here:</h3>
<figure>
  <img class="mobile-phone" src="img/iphone.png">
  <form id="directions-input" action="/directions" method="GET">
    <textarea name="query"></textarea>
    <input type="submit" value="Send">
  </form>
  <figcaption>Try it out</figcaption>
</figure>
